<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Replay Category"
            id="com.edu.buaa.les.replay">
      </category>
      <view
            name="Replay View"
            icon="icons/sample.gif"
            category="com.edu.buaa.les.replay"
            class="com.edu.buaa.les.replay.views.ReplayView"
            id="com.edu.buaa.les.replay.views.ReplayView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.edu.buaa.les.replay.views.ReplayView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
